.footer{
    padding: 15vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(17, 17, 17);


    &-logo{
        height: 15vh;
    }

    &-nav-box{
     //   border-top: 1px solid $gray-dark;
        margin-bottom: 5vh;
        margin-left: 2vh;
    }
    &-nav{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &-links {
            text-transform: uppercase;
            margin-top: 4vh;
            font-size: 1.4rem;

            &-item{
                display: inline-block;
                color: $gray-dark;
                background-color: rgb(17, 17, 17);
                text-decoration: none;
                transition: all .3s;
                cursor: pointer;

                &:hover{
                    color: $primary-dark;
                    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.5);
                    transform:rotate(5deg) scale(1.2);
                }
            }

            &:not(:last-child){
                margin-right: 2vh;
            }

        }
    }

    &-copyright{
       // border-top: 1px solid $gray-dark;
        width: 100%;
        margin: 0 2vh;
        

        &-text{
            padding: 2vh 0;
            font-size: 1.3rem;
            text-align: center;
        }
    }
}